#include "Resources.h"
#include <Windows.h>

ID_ICON ICON DISCARDABLE "../Icons/LuaGG.ico"

ID_ICON_AVAILABLE ICON DISCARDABLE "../Icons/Status.ico/1.ico"
ID_ICON_BUSY ICON DISCARDABLE "../Icons/Status.ico/2.ico"
ID_ICON_INVISIBLE ICON DISCARDABLE "../Icons/Status.ico/3.ico"
ID_ICON_NOT_AVAILABLE ICON DISCARDABLE "../Icons/Status.ico/4.ico"
ID_ICON_DND ICON DISCARDABLE "../Icons/Status.ico/5.ico"
ID_ICON_FFC ICON DISCARDABLE "../Icons/Status.ico/6.ico"

ID_BMP_AVAILABLE BITMAP "../Icons/Status.bmp/1.bmp"
ID_BMP_BUSY BITMAP "../Icons/Status.bmp/2.bmp"
ID_BMP_INVISIBLE BITMAP "../Icons/Status.bmp/3.bmp"
ID_BMP_NOT_AVAILABLE BITMAP "../Icons/Status.bmp/4.bmp"
ID_BMP_DESC BITMAP "../Icons/Status.bmp/5.bmp"
ID_BMP_DND BITMAP "../Icons/Status.bmp/6.bmp"
ID_BMP_FFC BITMAP "../Icons/Status.bmp/7.bmp"
ID_BMP_CLOSE BITMAP "../Icons/Menu.bmp/Close.bmp"

ID_MENU MENU
BEGIN
	POPUP "&Menu"
	BEGIN
		MENUITEM "&Po³¹cz z serwerem", ID_MENU_CONNECT
		MENUITEM SEPARATOR
		MENUITEM "&Pobierz listê kontatków", ID_MENU_GET_USERLIST//, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Wyczyœæ konsolê", ID_MENU_CLEAN_CONSOLE
		MENUITEM SEPARATOR
		MENUITEM "W&yjœcie", ID_MENU_EXIT
	END
	POPUP "&Skrypty"
	BEGIN
		MENUITEM "&Prze³aduj skrypty", ID_MENU_RELOAD
		MENUITEM SEPARATOR
		MENUITEM "&Prze³aduj plik konfiguracyjny", ID_MENU_RELOAD_CONFIG
	END
	POPUP "&Pomoc"
	BEGIN
		MENUITEM "&O LuaGG...", ID_MENU_ABOUT
	END
END

ID_TRAY_MENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "&PoGGadaj ze mn¹", ID_MENU_FFC
		MENUITEM "&Dostêpny", ID_MENU_AVAILABLE
		MENUITEM "&Zaraz wracam", ID_MENU_BUSY
		MENUITEM "&Nie przeszkadzaæ", ID_MENU_DND
		MENUITEM "&Niewidoczny", ID_MENU_HIDDEN
		MENUITEM "&Niedostêpny", ID_MENU_NOT_AVAILABLE
		MENUITEM SEPARATOR
		MENUITEM "&Zmieñ opis", ID_MENU_CHANGE_STATUS
		MENUITEM SEPARATOR
		MENUITEM "W&yjœcie", ID_MENU_EXIT
	END
END

ID_STATUS_MENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "&PoGGadaj ze mn¹", ID_MENU_FFC
		MENUITEM "&Dostêpny", ID_MENU_AVAILABLE
		MENUITEM "&Zaraz wracam", ID_MENU_BUSY
		MENUITEM "&Nie przeszkadzaæ", ID_MENU_DND
		MENUITEM "&Niewidoczny", ID_MENU_HIDDEN
		MENUITEM "&Niedostêpny", ID_MENU_NOT_AVAILABLE
		MENUITEM SEPARATOR
		MENUITEM "&Zmieñ opis", ID_MENU_CHANGE_STATUS
	END
END

ID_DLG DIALOGEX DISCARDABLE 0, 0, 247, 166
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "LuaGG"
FONT 9, "MS Sans Serif"
MENU ID_MENU
BEGIN
	EDITTEXT ID_DLG_CONSOLE, 0, 0, 247, 155, WS_CHILD | WS_VSCROLL | WS_HSCROLL | WS_VISIBLE | ES_MULTILINE | DS_CENTER
	CONTROL "", ID_STATUS_BAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | SBARS_SIZEGRIP | SBT_TOOLTIPS, 0, 0, 0, 0
END

ID_DLG_STATUS DIALOGEX DISCARDABLE 0, 0, 175, 71
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "LuaGG"
EXSTYLE WS_EX_TOOLWINDOW
FONT 9, "MS Sans Serif"
BEGIN
	GROUPBOX "Status opisowy", ID_STATIC, 2, 0, 173, 70
	AUTORADIOBUTTON "PoGGadaj ze mn¹", ID_DLG_FFC, 5, 10, 71, 8, WS_TABSTOP
	AUTORADIOBUTTON "Dostêpny", ID_DLG_AVAILABLE, 5, 20, 43, 8, WS_TABSTOP
	AUTORADIOBUTTON "Zaraz wracam", ID_DLG_BUSY, 5, 30, 57, 8, WS_TABSTOP
	AUTORADIOBUTTON "Nie przeszkadzaæ", ID_DLG_DND, 5, 40, 67, 8, WS_TABSTOP
	AUTORADIOBUTTON "Niewidoczny", ID_DLG_HIDDEN, 5, 50, 52, 8, WS_TABSTOP
	AUTORADIOBUTTON "Niedostêpny", ID_DLG_NOT_AVAILABLE, 5, 60, 52, 8, WS_TABSTOP
	EDITTEXT ID_DLG_DESC, 70, 20, 100, 12, ES_WANTRETURN | ES_AUTOHSCROLL
	PUSHBUTTON "OK", ID_DLG_SET, 70, 55, 45, 12
	PUSHBUTTON "Anuluj", ID_DLG_CLOSE, 125, 55, 45, 12
END

ID_DLG_ABOUT DIALOGEX DISCARDABLE 0, 0, 161, 95
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "O LuaGG..."
FONT 9, "MS Sans Serif"
BEGIN
	GROUPBOX "", ID_STATIC, 7, 3, 147, 83
	LTEXT "LuaGG", ID_STATIC, 14, 12, 22, 8
	LTEXT "v1.0.0.0", ID_DLG_VERSION, 37, 12, 29, 8
	LTEXT "napisane przez Czepek.", ID_STATIC, 68, 12, 84, 8
	LTEXT "LuaGG to bot do komunikatora Gadu-Gadu.", ID_STATIC, 14, 22, 138, 8
	LTEXT "Korzysta on z jêzyka skryptowego LUA.", ID_STATIC, 14, 32, 128, 8
	CONTROL "<a>Opis protoko³u</a>", ID_DLG_PROTOCOL, "SysLink", WS_TABSTOP | WS_EX_TRANSPARENT | SS_NOTIFY, 14, 43, 49, 9
	CONTROL "<a>Jêzyk skryptowy LUA</a>", ID_DLG_LUA, "SysLink", WS_TABSTOP | WS_EX_TRANSPARENT | SS_NOTIFY, 14, 52, 68, 9
	CONTROL "<a>Boost</a>", ID_DLG_BOOST, "SysLink", WS_TABSTOP | WS_EX_TRANSPARENT | SS_NOTIFY, 14, 61, 18, 9
	CONTROL "<a>Oficjalna strona LuaGG</a>", ID_DLG_PAGE, "SysLink", WS_TABSTOP | WS_EX_TRANSPARENT | SS_NOTIFY, 14, 70, 75, 9
END

VS_VERSION_INFO VERSIONINFO
	FILEVERSION VERSIONINT
	PRODUCTVERSION VERSIONINT
	FILEFLAGSMASK 0x3fL
	FILEOS VOS__WINDOWS32
	FILETYPE VFT_APP
	FILESUBTYPE 0x0L
	#ifdef __DEBUG__
		FILEFLAGS (VS_FF_DEBUG | VS_FF_PRERELEASE)
	#else
		FILEFLAGS VS_FF_PRERELEASE
	#endif

	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "041504b0"
			BEGIN
				VALUE "CompanyName", "Czepek\0"
				VALUE "FileDescription", "LuaGG - created by Czepek\0"
				VALUE "FileVersion", VERSIONSTR
				VALUE "ProductVersion", VERSIONSTR
				VALUE "InternalName", "LuaGG\0"
				VALUE "LegalCopyright", "GNU GPLv3\0"
				VALUE "LegalTrademarks", "GNU GPLv3\0"
				VALUE "OriginalFilename", "LuaGG.exe\0"
				VALUE "ProductName", "LuaGG\0"
				VALUE "URL", "http://czepekpage.pl/\0"
				VALUE "Comments", BUILD_INFO
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x415, 1200
		END
	END
